:root {
	--font-default: "Calibri", "Helvetica Neue", sans-serif;
	--font-alt: "Arial", sans-serif;
	--font-monospace: "Courier New", Courier, monospace;

	--colour-blue-darker: #133951;
	--colour-blue-dark: #225378;
	--colour-blue-mid: #18889a;
	--colour-blue-light: #97e2e6;

	--colour-grey-dark: #8a8888;
	--colour-grey-mid: #c3c2c2;
	--colour-grey-light: #e2e1e1;
	--colour-grey-lighter: #e7e7e7;

	--colour-orange: #eb7f00;
	--colour-white: #ffffff;
	--colour-black: #444444;

	/* Utilities */
	--border: 1px solid var(--colour-grey-light);
	--border-form: 1px solid var(--colour-grey-mid);
	--border-highlight: 1px solid var(--colour-blue-mid);
	--colour-border: var(--colour-grey-light);

	--colour-heading: var(--colour-black);
	--colour-text: var(--colour-black);
	--colour-text-inverse: var(--colour-white);
	--colour-text-faded: var(--colour-grey-dark);
	--colour-link: var(--colour-blue-mid);
	--colour-highlight: var(--colour-blue-mid);
	--colour-focus: var(--colour-orange);

	--width-content: min(100%, 70rem);

	/* TODO: add a high contrast theme that fixes the various a11y issues with text colours (highlight, link) */
}

body {
	background: var(--colour-white);
	color: var(--colour-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--colour-heading);
}

h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1.05rem;
}

a {
	color: var(--colour-link);
}

input,
textarea,
select {
	border: var(--border-form);
	background-color: var(--colour-white);
	padding-inline: 0.5em;
	padding-block: 0.25em;
	line-height: 1.5;
	color: var(--colour-grey-dark);
}

blockquote {
	margin: 0 0.5rem;
	padding-inline: 2rem;
	border-inline-start: 5px solid var(--colour-border);
	font-style: italic;
	color: var(--colour-grey-dark);

	* {
		line-height: 1.2;
	}

	* + *:not(br) {
		margin-block-start: 0.5em;
	}
}

hr {
	border: var(--border);
}

body:has(:modal) {
	overflow: hidden;
}

/* TODO: I know that captions were centred, but still need to design the rest of the figure layout */
figcaption {
	text-align: center;
}

/* Layout classes */

[data-layout="content"] {
	display: flex;
	flex-direction: column;
	gap: var(--gutter, 1.25em);

	p,
	li,
	blockquote,
	caption,
	figcaption {
		max-inline-size: 72ch;
	}
}

[data-layout="sidebar"] {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gutter, 1rem);

	& > :last-child {
		flex-grow: 1;
	}

	& > :first-child {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 50%;
	}
}

/* Utility classes */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.skip-link:not(:focus):not(:active) {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	position: absolute;
	white-space: nowrap;
}

.skeleton {
	display: none;
}

@media (scripting: enabled) {
	.skeleton {
		display: revert;
	}
}
