:root {
	--font-default: "Calibri", "Helvetica Neue", sans-serif;
	--font-alt: "Arial", sans-serif;
	--font-monospace: "Courier New", Courier, monospace;

	--colour-blue-darker: #133951;
	--colour-blue-dark: #225378;
	--colour-blue-mid: #18889a;
	--colour-blue-light: #97e2e6;

	--colour-grey-dark: #8a8888;
	--colour-grey-mid: #c3c2c2;
	--colour-grey-light: #e2e1e1;
	--colour-grey-lighter: #e7e7e7;

	--colour-orange: #eb7f00;
	--colour-white: #ffffff;
	--colour-black: #444444;

	/* Utilities */

	--border: 1px solid var(--colour-grey-light);
	--border-form: 1px solid var(--colour-grey-mid);
	--border-highlight: 1px solid var(--colour-blue-mid);
	--colour-border: var(--colour-grey-light);

	--colour-heading: var(--colour-black);
	--colour-text: var(--colour-black);
	--colour-text-inverse: var(--colour-white);
	--colour-link: var(--colour-blue-mid);
	--colour-highlight: var(--colour-blue-mid);

	/* TODO: add a high contrast theme that fixes the various a11y issues with text colours (highlight, link) */
}

body {
	background: var(--colour-white);
	color: var(--colour-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--colour-heading);
}

a {
	color: var(--colour-link);
}

/* Layout classes */

[data-layout="content"] {
	display: flex;
	flex-direction: column;
	gap: var(--content-gutter, 1.25em);

	p,
	li,
	blockquote,
	caption,
	figcaption {
		max-inline-size: 72ch;
	}
}
